<div class="p-4 rounded-md shadow-lg backdrop-blur-sm bg-white/10">
  <div class="w-full h-38 bg-green-400 rounded-md overflow-hidden">
    <img class="w-full h-full object-cover" src="{%IMAGE%}" alt="" />
  </div>
  <div class="mt-4 flex flex-col justify-between">
    <p>{%PARAGRAPH%}</p>
    <a
      href="/project/?id={%ID%}"
      class="block w-max bg-green-700 px-6 py-2 rounded-md mt-2 text-green-300 transition-all duration-150 ease-in active:scale-95 cursor-pointer"
    >
      Details
    </a>
  </div>
</div>
