<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: '#da373d',
            },
          },
        },
      };
    </script>

    <style>
      .sb {
        border: 1px solid red;
      }
    </style>
    <title>My First Node Project</title>
  </head>
  <body class="min-h-screen bg-green-500 pt-8 pb-20">
    <div class="w-[80%] mx-auto">
      <h1 class="text-3xl text-center text-green-700">First Node Project</h1>

      <div class="grid grid-cols-3 gap-8 mt-8">{%CARDS%}</div>
    </div>
  </body>
</html>
